{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% if object.logHistory|length %}
        <div class="well">
            {% for date,items in object.logHistory %}
                <strong>{{ date|date('Y.m.d H:i') }}</strong>
                {% for item in items %}
                    <div class="bg-{{ item.type }}">
                        {{ item.message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}